/* ! DEBUG */

._box {
  width: auto;
  padding: 1rem;
  border: 2px dashed black;
  text-align: center;

  background-color: blueviolet;
}

._box > ._box {
  width: 100px;
  aspect-ratio: 1;
  background-color: yellow;
  border: 1px dashed black;
}

._bordered {
  border: 2px dashed red;
}

/* *ROOT */

:root {
  --bg_dark_blue: #2c3e50;
  --bg_light_green: #1abc9c;
  --bg_white: #ffffff;
  --bg_cyan_blue: #3a546d;
}

/* *HEADER */

#header {
  height: 100px;
  background-color: var(--bg_dark_blue);
}

/* *MAIN */

main section:nth-of-type(2n + 1) {
  background-color: var(--bg_light_green);
}

/* |Section Avatar */

/* *Footer */
/* |Footer Top| */
#footer_top {
  background-color: var(--bg_cyan_blue);
}

/* |Footer Bottom| */
#footer_bottom {
  background-color: var(--bg_dark_blue);
}
