/* ! DEBUG */

._box {
  width: auto;
  padding: 1rem;
  border: 2px dashed black;
  text-align: center;

  background-color: blueviolet;
}

._box > ._box {
  width: 100px;
  aspect-ratio: 1;
  background-color: yellow;
  border: 1px dashed black;
}

._bordered {
  border: 2px dashed red;
}

/* *ROOT */

:root {
  --bg_dark_blue: #2c3e50;
  --bg_light_green: #1abc9c;
  --bg_white: #ffffff;
  --bg_cyan_blue: #3a546d;
}

/* *GENERAL */

._line_stars {
  width: 100px;
  height: 5px;
}

/* *HEADER */

#header {
  height: 100px;
  background-color: var(--bg_dark_blue);
}

/* *MAIN */

main section:nth-of-type(2n + 1) {
  background-color: var(--bg_light_green);
}

/* |Section Avatar */

._avatar_image {
  width: 240px;
}

/* |Section Portfolio! */
#portfolio ._line_stars {
  height: 5px;
}

/* |Section Contact Me| */

#contact_me ._btn_submit {
  color: white;
  background-color: #1abc9c;
}

/* *Footer */
/* |Footer Top| */
#footer_top {
  background-color: var(--bg_cyan_blue);
}

#footer_top ._icon_social {
  text-align: center;
  height: 65px;
  aspect-ratio: 1;

  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
}

#footer_top ._link_start_bootstrap {
  color: #1abc9c;
}

/* |Footer Bottom| */
#footer_bottom {
  background-color: var(--bg_dark_blue);
}
